<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MajSB">Majda</a>. Splurty is part of the Firehose Project to become a full stack web developer.
  </p>
  <br />
  <p>
    Majda has worked in all continents in different industries and she is now looking at a career change to become a web deelopper and be able to develop custom web apps for small and medium companies all around the globe. 
  </p>
  <br />

 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'majda.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Majda Saidi Barroso</h2>
    <br />
    <p>
      Majda Saidi Barroso is a future web developper. With a mathematical engineering background and a specialisation in finance, she had worked mainly in the mining and import-export industry. She is now looking to use all these skills in a new career.  
    </p>
  </div>
  <br class="clear" />
  <br />

</div>
