<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MajSB">Majda</a>.
  </p>
  <br />
  <p>
<<<<<<< HEAD
    Majda is a member of Ta'lim. At Ta'lim, we develop tailored solutions for all our clients. We also like to learn new things and try out ideas on our free time. So we end up making some fake websites just because it is fun ! 
=======
    Majda has worked in all continents in different industries and she is now looking at a career change to become a web deelopper and be able to develop custom web apps for small and medium companies all around the globe. 
>>>>>>> 2c4fe54983bfc6920fc3f3588147661fe9970474
  </p>
  <br />

 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'logo.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ta'lim - Smart Solutions</h2>
    <br />
    <p>
      Ta'lim is all about making tailored web applications available and affordable to everyone. We love web development and we love to share our passion with people who need it. Our idea is to make simple but beautiful apps that you can update and maintain yourself ! Contact us if you have a idea, we would love to work with you.    
    </p>
  </div>
  <br class="clear" />
  <br />

</div>
